RewriteEngine On

RewriteRule ^user/registration$ user/registration.php [L,QSA]
RewriteRule ^user/login$ user/login.php [L,QSA]
RewriteRule ^user/home$ user/home.php [L,QSA]
RewriteRule ^user/logout$ user/logout.php [L,QSA]
RewriteRule ^user/edit$ user/edit.php [L,QSA]
RewriteRule ^api/user$ api/user.php [L,QSA]
RewriteRule ^api/login$ api/login.php [L,QSA]
RewriteRule ^$ index.php [L,QSA]
